#root {
  height: 100vh;
  background-color: #f0f2f5;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}